{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/movies.css' %}">

<div class="form-card">

    <h2>فرم ثبت/ویرایش اکران </h2>

    {% if messages %}
      <div class="messages-container">
        {% for message in messages %}
          <div class="alert {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>فیلم</label>
        {{ form.movie }}

        <label>سینما</label>
        {{ form.cinema }}

        <label>سانس</label>
        {{ form.showtime }}

        <label>ظرفیت اولیه</label>
        {{ form.remaining_seats }}

        <div class="form-buttons">
            <button type="submit" class="submit-btn">
                ثبت اکران
            </button>

            <a href="{% url 'movies:screening_list' %}" class="cancel-btn">
                انصراف
            </a>
        </div>

    </form>

</div>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const cinemaSelect = document.getElementById("id_cinema");
    const showtimeSelect = document.getElementById("id_showtime");

    function loadShowtimes() {
        const cinemaId = cinemaSelect.value;

        showtimeSelect.innerHTML = "";

        if (!cinemaId) {
            showtimeSelect.innerHTML =
                '<option value="">ابتدا سینما را انتخاب کنید</option>';
            return;
        }

        fetch(`/movies/ajax/load-showtimes/?cinema=${cinemaId}`)
            .then(response => response.json())
            .then(data => {

                if (data.length === 0) {
                    showtimeSelect.innerHTML =
                        '<option value="">سانسی برای این سینما تعریف نشده</option>';
                    return;
                }

                showtimeSelect.innerHTML =
                    '<option value="">انتخاب سانس</option>';

                data.forEach(function(showtime) {
                    const option = document.createElement("option");
                    option.value = showtime.id;
                    option.text = showtime.text;
                    showtimeSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error("خطا:", error);
            });
    }

    cinemaSelect.addEventListener("change", loadShowtimes);
});
</script>