{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/movies.css' %}">

{% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      <div class="alert {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="container">

    <!-- هدر -->
    <div class="page-header">
        <h1>مدیریت اکران‌ها</h1>

        <div class="header-buttons">
            <a href="{% url 'movies:screening_add' %}" class="add-btn">
                افزودن اکران جدید
            </a>
            <a href="/accounts/admin-panel" class="back-btn">
                بازگشت به پنل ادمین
            </a>
        </div>
    </div>

    <!-- کارت جدول -->
    <div class="table-card">
        <table>
            <tr>
                <th>فیلم</th>
                <th>سینما</th>
                <th>سانس</th>
                <th>ظرفیت</th>
                <th>عملیات</th>
            </tr>

            {% for screening in screenings %}
            <tr>
                <td>{{ screening.movie.title }}</td>
                <td>{{ screening.cinema.name }}</td>
                <td>{{ screening.showtime }}</td>
                <td>{{ screening.remaining_seats }}</td>
                <td>
                    <a href="{% url 'movies:screening_update' screening.pk %}" class="edit-btn">
                        ویرایش
                    </a>

                    <a href="{% url 'movies:screening_delete' screening.pk %}" class="delete-btn">
                        حذف
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align:center;">هیچ اکرانی ثبت نشده است.</td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>

